{% extends "base.html" %}

{% block title %} {{ workspace.name }} {% endblock %}

{% block content %}

<h2>{{ workspace.name }}</h2>

<p class="text-muted">Owner User: {{ workspace.owner.username }}</p>
<p class="text-muted">Owner Email: {{ workspace.owner.email }}</p>

<hr>

<h4>Projects</h4>

<a href="{% url 'project-create' workspace.id %}" class="btn btn-primary btn-sm mb-3">
    Create Project
</a>
<a href="{% url 'add-member' workspace.pk %}" class="btn btn-sm btn-warning mb-3">Add Member</a>

<ul class="list-group">
    {% for project in workspace.projects.all %}
        <li class="list-group-item">
            <a href="{% url 'project-detail' project.id %}">
            {{ project.name }}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">
            No projects yet.
        </li>
    {% endfor %}
</ul>

<ul class="list-group">
    Members:
    {% for member in workspace.memberships.all %}
        <li class="list-group-item">
            {{ member.members.username }} - {{member.role}}
            <a href="{% url 'update-member' workspace.pk member.members.username %}">Update</a> |
            <form action="{% url 'delete-member' workspace.pk member.members.username %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm"> Delete Member </button>
            </form> 
            
        </li>
    {% endfor %}
</ul>

{% endblock %}
